[Telegram]
API_ID=1234567
API_HASH=0123456789abcdfghijk0123456789ab
BOT_NAME=@your_bot
# Account/chat/group/bot error message to be sent
ERR_REPORT_ACCOUNT=@your_tg_account
# Leave it blank, if you don't have helthchecks.io url
HEALTH_CHECK_URL=

[Logging]
FILE_NAME=pingbot.log
# The numeric values of logging levels (https://docs.python.org/3/library/logging.html)
# CRITICAL = 50
# ERROR = 40
# WARNING = 30
# INFO = 20
# DEBUG = 10
# NOTSET = 0
LEVEL=30

[Loop]
# Loop pause in seconds (float), 0 if there is no loop needed
PAUSE=0
